<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>新增合同</title>

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
		<!-- Element UI -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css" />
		<script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
		<!-- dayjs -->
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.10/dayjs.min.js"></script>
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.10/dayjs.min.js"></script>
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/contractView.css" />
	</head>
	<body>
        <div class="contractView" id="contractView" v-cloak v-loading="detailLoading" element-loading-text="加载中...">
            <!-- 基本信息 -->
            <div class="contractView__card">
                <div class="contractView__card_title">
                    基本信息
                </div>
                <div class="contractView__card_content">
                    <el-form ref="form" :model="baseInfo" :rules="baseInfoRules" label-position="top" size="mini">
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <el-form-item label="申请人" prop="application">
                                  <el-input v-model="baseInfo.application" placeholder="请输入申请人" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="直属部门" prop="directDepartment">
                                    <el-input v-model="baseInfo.directDepartment" placeholder="请输入直属部门" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="一级部门" prop="firstLevelDepartment">
                                    <el-input v-model="baseInfo.firstLevelDepartment" placeholder="请输入一级部门" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <el-form-item label="供应商名称" prop="supplierId">
                                    <el-select v-model="baseInfo.supplierId" placeholder="请选择供应商名称" :loading="supplierOptionsLoading" style="width: 100%;" :disabled="routeQuery.pageType  !== VIEW_SCENE.ADD" filterable>
                                        <el-option
                                            v-for="item in supplierOptions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                             <el-col :span="8">
                                <el-form-item label="合同名称" prop="contractName">
                                    <el-input v-model="baseInfo.contractName" placeholder="请输入合同名称" :disabled="routeQuery.pageType  !== VIEW_SCENE.ADD"></el-input>
                                </el-form-item>
                            </el-col>
                             <el-col :span="8">
                                <el-form-item label="合同主体" prop="contractSubject">
                                    <el-select v-model="baseInfo.contractSubject" placeholder="请选择合同主体" style="width: 100%;" :disabled="routeQuery.pageType  !== VIEW_SCENE.ADD" :loading="contractSubjectOptionsLoading" filterable>
                                        <el-option
                                            v-for="item in contractSubjectOptions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                         <el-row :gutter="20">
                             <el-col :span="8">
                                <el-form-item label="合同类型" prop="contractType">
                                    <el-select v-model="baseInfo.contractType" placeholder="请选择合同类型" style="width: 100%;" :disabled="routeQuery.pageType  !== VIEW_SCENE.ADD" filterable>
                                        <el-option
                                            v-for="item in CONTRACT_TYPE_OPTIONS"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                             <el-col :span="8">
                                <el-form-item label="合同来源" prop="contractSource">
                                    <el-select v-model="baseInfo.contractSource" placeholder="请选择合同来源" style="width: 100%;" :disabled="routeQuery.pageType  !== VIEW_SCENE.ADD" filterable>
                                        <el-option
                                            v-for="item in CONTRACT_SOURCE_OPTIONS"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                             <el-col :span="8">
                                <el-form-item label="起止日期" prop="dateRange">
                                    <el-date-picker
                                        v-model="baseInfo.dateRange"
                                        type="datetimerange"
                                        format="yyyy-MM-dd HH:mm:ss"
                                        value-format="yyyy-MM-dd HH:mm:ss"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        style="width: 100%;"
                                        :disabled="routeQuery.pageType  !== VIEW_SCENE.ADD"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                      </el-form>
                </div>
            </div>

            <!-- 条款规则类 -->
            <div class="contractView__card" style="margin-top: 16px;">
                <div class="contractView__card_title">
                    条款规则类
                </div>
                <div class="contractView__card_content">
                    <el-form :model="termsRules" label-position="top" size="mini">
                        <el-form-item label="结算条款">
                            <el-input v-model="termsRules.calculationTerms" :rows="1" autosize type="textarea" placeholder="请输入结算条款" :disabled="routeQuery.pageType === VIEW_SCENE.VIEW"></el-input>
                            </el-form-item>
                        <el-form-item label="业务规则">
                            <el-input v-model="termsRules.businessRules" :rows="1" autosize type="textarea" placeholder="请输入业务规则" :disabled="routeQuery.pageType === VIEW_SCENE.VIEW"></el-input>
                            </el-form-item>
                        <el-form-item label="追溯条款">
                            <el-input v-model="termsRules.traceabilityClause" :rows="1" autosize type="textarea" placeholder="请输入追溯条款" :disabled="routeQuery.pageType === VIEW_SCENE.VIEW"></el-input>
                            </el-form-item>
                        <el-form-item label="特殊条款">
                            <el-input v-model="termsRules.specialProvisions" :rows="1" autosize type="textarea" placeholder="请输入特殊条款" :disabled="routeQuery.pageType === VIEW_SCENE.VIEW"></el-input>
                        </el-form-item>
                    </el-form>    
                </div>
            </div>

            <!-- 附件管理 -->
            <div class="contractView__card" style="margin-top: 16px;">
                <div class="contractView__card_title">
                    附件管理
                </div>
                <div class="contractView__card_content">
                    <!-- 文件列表表格 -->
                    <el-table :data="attachFileList" style="width: 100%; margin-bottom: 10px;" size="mini">
                        <el-table-column
                            label="文件"
                            prop="name"> <!-- 文件名属性 -->
                        </el-table-column>
                        <el-table-column
                            label="操作"
                            width="150"
                            v-if="routeQuery.pageType  !== VIEW_SCENE.VIEW"
                        >
                            <template slot-scope="scope">
                                <el-button @click="handleDownloadFile(scope.row)" type="text" size="small">下载</el-button>
                                <el-button @click="handleDeleteFile(scope.row)" type="text" size="small">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!-- 上传附件区域 -->
                    <div class="contractView__upload_area" v-if="routeQuery.pageType !== VIEW_SCENE.VIEW">
                        <el-upload
                            ref="uploadRef"
                            multiple
                            :auto-upload="false"
                            :file-list="attachFileList"
                            :on-change="handleFileChange"
                            :show-file-list="false"
                            drag
                        >
                            <div class="contractView__upload_area">
                                <i class="el-icon-plus"></i>上传附件
                            </div>
                        </el-upload>
                     </div>
                </div>
            </div>

            <div class="contractView__footer">
                <el-button type="default" @click="close" :loading="submitLoading" size="mini">{{routeQuery.pageType === VIEW_SCENE.VIEW ? '关闭' : '取消'}}</el-button>
                <el-button type="danger" @click="onAudit(0)" :loading="submitLoading" size="mini" v-if="routeQuery.pageType === VIEW_SCENE.AUDIT">审批不通过</el-button>
                <el-button type="primary" @click="onAudit(1)" :loading="submitLoading" size="mini" v-if="routeQuery.pageType === VIEW_SCENE.AUDIT">审批通过</el-button>
                <el-button type="primary" @click="onAdd" :loading="submitLoading" size="mini" v-if="routeQuery.pageType === VIEW_SCENE.ADD">确定</el-button>
            </div>

            <!-- 不通过原因弹窗 -->
			<el-dialog
                title="不通过原因"
                :visible.sync="notPassReasonVisible"
                width="40%"
            >
                <el-input v-model="notPassReason" :autosize="{ minRows: 3, maxRows: 5}" type="textarea" placeholder="请输入不通过原因"></el-input>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="notPassReasonVisible = false" size="mini">取 消</el-button>
                    <el-button type="primary" @click="notPass" size="mini">确 定</el-button>
                </span>
            </el-dialog>
        </div>

        <script type="module">
			import { opUrl, VIEW_SCENE, CONTRACT_TYPE_OPTIONS, CONTRACT_SOURCE_OPTIONS, SUCCESS_CODE, FILE_BASE_URL } from './js/contants.js';
            import { getPersonInfoApi, getCompanySubjectApi, queryContractListApi, contractSupplierAddApi, contractSupplierAuditeApi, contractSupplierDetailApi, fileUpLoadApi, contractSupplierNotPassApi } from './js/apis.js';
            import { handleOptionShow, downloadFileFromUrl } from './js/fn.js';

            let app = new Vue({
                el: '#contractView',
                data() {
                    return {
                        CONTRACT_TYPE_OPTIONS,
                        CONTRACT_SOURCE_OPTIONS,
                        VIEW_SCENE,
                        baseInfo: {
                            application: '',
                            directDepartment: '',
                            firstLevelDepartment: '',
                            supplierId: '',
                            contractName: '',
                            contractSubject: '',
                            contractType: '',
                            contractSource: '',
                            dateRange: null,
                        },
                        companySubjectOptions: [],
                        companySubjectOptionsLoading: false,
                        contractSubjectOptions: [],
                        contractSubjectOptionsLoading: false,
                        supplierOptions: [],
                        supplierOptionsLoading: false,
                        // 基本信息表单验证规则
                        baseInfoRules: {
                            // application: [
                            //     { required: true, message: '请输入申请人', trigger: 'blur' }
                            // ],
                            // directDepartment: [
                            //     { required: true, message: '请输入直属部门', trigger: 'blur' }
                            // ],
                            // firstLevelDepartment: [
                            //     { required: true, message: '请输入一级部门', trigger: 'blur' }
                            // ],
                            supplierId: [
                                { required: true, message: '请选择供应商名称', trigger: 'change' }
                            ],
                            contractName: [
                                { required: true, message: '请输入合同名称', trigger: 'blur' }
                            ],
                            contractSubject: [
                                { required: true, message: '请选择合同主体', trigger: 'change' }
                            ],
                            contractType: [
                                { required: true, message: '请选择合同类型', trigger: 'change' }
                            ],
                            contractSource: [
                                { required: true, message: '请选择合同来源', trigger: 'change' }
                            ],
                             dateRange: [
                                { required: true, message: '请选择起止日期', trigger: 'change' }
                            ],
                        },
                        // 条款规则类表单数据
                        termsRules: {
                            calculationTerms: '', // 结算条款
                            businessRules: '', // 业务规则
                            traceabilityClause: '', // 追溯条款
                            specialProvisions: '', // 特殊条款
                        },
                        submitLoading: false,
                        // 附件列表数据，根据需要添加，结构应包含 name, url/id 等
                        attachFileList: [],
                        routeQuery: {},
                        formDisabled: true,
                        personInfo: {},
                        detailLoading: false,
                        detailData: {},
                        personInfoLoading: false,
                        notPassReasonVisible: false,
                        notPassReason: '',
                    }
                },
                created() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const id = urlParams.get('id'); // "123"
                    const pageType = urlParams.get('pageType'); // "abc"
                    this.routeQuery = {
                        pageType,
                        id,
                    };
                    document.title = pageType;

                    if (pageType === VIEW_SCENE.ADD) {
                        this.getPersonInfo();
                        this.getCompanySubject();
                        this.queryContractList();
                    } else if (id) {
                        this.getContractSupplierDetail();
                    }
                },
                methods: {
                    close() {
                        // TODO
                        window.location.replace('./contractList.html');
                    },
                    getPersonInfo() {
                        this.personInfoLoading = false;
						$.ajax({
							url: getPersonInfoApi,
							type: "post",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify({}),
							success: (res) => {                                
								if(res.code === SUCCESS_CODE){
                                    const data = res.data || {};
                                    
                                    this.baseInfo = {
                                        ...this.baseInfo,
                                        application: data.name,
                                        directDepartment: data.deptName,
                                        firstLevelDepartment: data.firstDeptName,
                                    }
                                    this.personInfo = data;
								}
							},
							complete: () => {
                                this.personInfoLoading = true;
							},
						});
					},
                    getCompanySubject() {
                        this.companySubjectOptionsLoading = true;
                        $.ajax({
							url: getCompanySubjectApi,
							type: "post",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify({}),
							success: (res) => {
								if(res.code === SUCCESS_CODE){
                                    const data = res.data || {};
                                    this.baseInfo = {
                                        ...this.baseInfo,
                                        contractSubject: '01',
                                    }
                                    this.contractSubjectOptions = (data || []).map(item => ({ value: item.value, label: item.labelName }));
								}
							},
                            complete: () => {
								this.companySubjectOptionsLoading = false;
							}
						});
                    },
                    queryContractList() {
                        this.supplierOptionsLoading = true;
                        $.ajax({
							url: queryContractListApi,
							type: "post",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify({}),
							success: (res) => {
								if(res.code === SUCCESS_CODE){
                                    const data = res.data?.list || {};
                                    
                                    this.supplierOptions = (data || []).map(item => ({ value: item.supplierId, label: item.supplierName }));
								}
							},
                            complete: () => {                                
								this.supplierOptionsLoading = false;
							}
						});
                    },
                    getContractSupplierDetail() {
                        this.detailLoading = true;
                        $.ajax({
							url: contractSupplierDetailApi,
							type: "post",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify({
                                id: this.routeQuery.id,
                            }),
							success: (res) => {                                
								if(res.code === SUCCESS_CODE) {
                                    const { customerContractEntity, personInfo } = res.data || {};
                                    // // 填充基本信息
                                    this.baseInfo = {
                                        ...customerContractEntity,
                                        application: personInfo.name,
                                        directDepartment: personInfo.deptName,
                                        firstLevelDepartment: personInfo.firstDeptName,
                                        dateRange: customerContractEntity.contractBeginTime && customerContractEntity.beginEndTime ? [customerContractEntity.contractBeginTime, customerContractEntity.beginEndTime] : null,
                                    };
                                    this.supplierOptions = [{ value: customerContractEntity.supplierId, label: customerContractEntity.supplierName }];
                                    this.contractSubjectOptions = [{ value: customerContractEntity.contractSubject, label: customerContractEntity.contractSubjectName }]
                                    // // 填充条款规则类
                                    this.termsRules = {
                                        calculationTerms: customerContractEntity.calculationTerms,
                                        businessRules: customerContractEntity.businessRules,
                                        traceabilityClause: customerContractEntity.traceabilityClause,
                                        specialProvisions: customerContractEntity.specialProvisions,
                                    };
                                    // // 填充附件列表
                                    this.attachFileList = (customerContractEntity.attachFileList || []).map(item => ({ name: item, uid: item }));
								}
							},
                            complete: () => {                                
								this.detailLoading = false;
							}
						});
                    },
                    resetForm() {
                        this.baseInfo = {
                            application: this.personInfo.name,
                            directDepartment: this.personInfo.deptName,
                            firstLevelDepartment: this.personInfo.firstDeptName,
                            supplierId: '',
                            contractName: '',
                            contractSubject: '01',
                            contractType: '',
                            contractSource: '',
                            dateRange: null,
                        };
                        this.termsRules = {
                            calculationTerms: '',
                            businessRules: '',
                            traceabilityClause: '',
                            specialProvisions: '',
                        };
                        this.attachFileList = [];

                        // 如果使用 Element UI 的表单组件，还可以调用其 resetFields 方法
                        this.$refs.form.resetFields();
                    },
                    onAdd() {
                        // 触发表单验证
                        this.$refs.form.validate((valid) => {
                            if (valid) {
                                this.submitLoading = true;
                                $.ajax({
                                    url: contractSupplierAddApi,
                                    type: "post",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        ...this.baseInfo,
                                        ...this.termsRules,
                                        attachFileList: (this.attachFileList || []).map(item => item.name),
                                        contractBeginTime: this.baseInfo.dateRange?.[0],
                                        beginEndTime: this.baseInfo.dateRange?.[1],
                                    }),
                                    success: (res) => {
                                        if(res.code === SUCCESS_CODE) {
                                            this.resetForm();
                                            // 调用 opener 的方法刷新列表
                                            if (window.opener && window.opener.contractListApp && window.opener.contractListApp.getList) {
                                                window.opener.contractListApp.getList(true);
                                            }
                                            this.$message.success("新增成功");
                                            // this.close();
                                        }
                                    },
                                    complete: () => {
                                        this.submitLoading = false;
                                    },
                                    error: () => {
                                        this.$message.error("新增失败");
                                    }
                                });
                            }
                        });
                    },
                    onAudit(value) {
                        if (!this.routeQuery.id) {
                            this.$message.error('路由参数错误');
                        }
                        this.submitLoading = true;
                        if (value === 1) {
                            this.$confirm('确定通过审核？', '提示', {
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                            }).then(() => {
                                $.ajax({
                                    url: contractSupplierAuditeApi,
                                    type: "post",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        ...this.baseInfo,
                                        ...this.termsRules,
                                        attachFileList: (this.attachFileList || []).map(item => item.name),
                                        contractBeginTime: this.baseInfo.dateRange?.[0],
                                        beginEndTime: this.baseInfo.dateRange?.[1],
                                        id: this.routeQuery.id,
                                    }),
                                    success: (res) => {
                                        if(res.code === SUCCESS_CODE) {
                                            this.resetForm();
                                            // 调用 opener 的方法刷新列表
                                            if (window.opener && window.opener.contractListApp && window.opener.contractListApp.getList) {
                                                window.opener.contractListApp.getList(true);
                                            }
                                            this.$message.success("审核成功");
                                            this.close();
                                        }
                                    },
                                    complete: () => {
                                        this.submitLoading = false;
                                    },
                                    error: () => {
                                        this.$message.error("审核失败");
                                    }
                                });
                            });
                        } else {
                            this.notPassReasonVisible = true;
                        }
                    },
                    notPass() {
                        if (!this.notPassReason) {
                            this.$message.error('请填写不通过原因');
                        }
                        $.ajax({
                            url: contractSupplierNotPassApi,
                            type: "post",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify({
                                id: this.routeQuery.id,
                                notPassReason: this.notPassReason,
                            }),
                            success: (res) => {
                                if(res.code === SUCCESS_CODE) {
                                    this.resetForm();
                                    // 调用 opener 的方法刷新列表
                                    if (window.opener && window.opener.contractListApp && window.opener.contractListApp.getList) {
                                        window.opener.contractListApp.getList(true);
                                    }
                                    this.$message.success("审核成功");
                                    this.notPassReasonVisible = false;
                                    this.close();
                                }
                            },
                            complete: () => {
                                this.submitLoading = false;
                            },
                            error: () => {
                                this.$message.error("审核失败");
                            }
                        });
                    },
                    async handleFileChange(file) {
                        // 拼接 guid = 文件名 + 当前时间戳
                        const timestamp = Date.now();
                        const guid = `${timestamp}_${file.name}`;

                        // 创建 FormData 对象，按照后端需求构造字段
                        const formData = new FormData();
                        formData.append('guid', guid);
                        formData.append('_contract', file.raw);
                        formData.append('uploadFileName', '_contract');

                        $.ajax({
                            url: fileUpLoadApi,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: (res) => {
                                this.$message?.success(`文件 ${file.name} 上传成功`);
                                this.attachFileList.push({ name: res.filePath, uid: file.uid });
                            },
                            error: function (err) {
                                console.error('上传失败', err);
                                this.$message?.error(`文件 ${file.name} 上传失败`);
                            }
                        });
                    },
                    handleDeleteFile(item) {
                        this.$confirm('确定删除该文件？', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                        }).then(() => {
                            this.attachFileList = this.attachFileList.filter(file => file.uid !== item.uid);
                        });
                    },
                    handleDownloadFile(item) {
                        downloadFileFromUrl(item.name, item.name)   
                    },
                    handleOptionShow,
                }
            })
        </script>
    </body>
</html>
