<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>合同管理</title>


		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
		<!-- Element UI -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css">
		<script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
		<!-- dayjs -->
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.10/dayjs.min.js"></script>
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/contractList.css">
	</head>
	<body>
		<!-- 页面内容区 -->
		<div class="contract" id="contract" ref="contractRef" v-cloak>
			<!-- 搜索区域 -->
			<div class="contract__search" ref="searchRef">
				<div class="contract__search_form">
					<div class="contract_row">
						<div class="contract_col_6">
							<el-input size="mini" v-model="searchForm.supplierName" placeholder="请输入供应商名称" />
						</div>
						<div class="contract_col_6">
							<el-select v-model="searchForm.contractStatus" size="mini" placeholder="请选择合同状态" style="width: 100%;">
								<el-option
									v-for="item in CONTRACT_STATUS_OPTIONS"
									:key="item.value"
									:label="item.label"
									:value="item.value"
								>
								</el-option>
							</el-select>
						</div>
						<div class="contract_col_6">
							<el-input size="mini" v-model="searchForm.businessOperator" placeholder="请输入商务负责人" />
						</div>
					</div>
				</div>
				<div class="contract__search_button">
					<el-button type="warning" icon="el-icon-plus" size="mini" @click="toAdd()">
						新增合同
					</el-button>
					<el-button type="primary" icon="el-icon-search" size="mini" @click="getList(true)">
						搜索
					</el-button>
					<el-button type="default" icon="el-icon-refresh-right" size="mini" plain @click="reset()">重置</el-button>
				</div>
			</div>

			<!-- 表格区域 -->
			<div class="contract__table">
				<div class="contract__table_content" ref="tableContentRef">
					<el-table :data="contractList" tooltip-effect="dark" size="mini" v-loading="pager.loading" :height="tableHeight || {}">
						<el-table-column label="供应商id" width="80" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.supplierId }}</template>
						</el-table-column>
						<el-table-column label="供应商名称" width="230" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.supplierName }}</template>
						</el-table-column>
						<el-table-column label="商务负责人" width="120" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.businessOperator }}</template>
						</el-table-column>
						<el-table-column label="合同编码" width="100" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.contractCode }}</template>
						</el-table-column>
						<el-table-column label="合同名称" width="200" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.contractName }}</template>
						</el-table-column>
						<el-table-column label="合同主体" width="200" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.contractSubjectName }}</template>
						</el-table-column>
						<el-table-column label="合同类型" width="120" show-overflow-tooltip>
							<template slot-scope="scope">{{ handleOptionShow(CONTRACT_TYPE_OPTIONS, scope.row.contractType) }}</template>
						</el-table-column>
						<el-table-column label="合同有效期" width="272" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.contractBeginTime }} 至 {{ scope.row.beginEndTime }}</template>
						</el-table-column>
						<el-table-column label="提交时间" width="150" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.createTime }}</template>
						</el-table-column>
						<el-table-column label="申请人" width="120" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.applier }}</template>
						</el-table-column>
						<el-table-column label="审核时间" width="150" show-overflow-tooltip>
							<template slot-scope="scope">{{ scope.row.updateTime }}</template>
						</el-table-column>
						<el-table-column label="合同状态" width="100" show-overflow-tooltip>
							<template slot-scope="scope">{{ handleOptionShow(CONTRACT_STATUS_OPTIONS, scope.row.contractStatus) }}</template>
						</el-table-column>
						<el-table-column label="操作" width="200" fixed="right">
							<template slot-scope="scope">
								<div>
									<el-button type="text" size="small" @click="toAudit(scope.row)" v-if="scope.row.contractStatus === '0'">合同审核</el-button>
									<el-button type="text" size="small" @click="toDetail(scope.row)">查看详情</el-button>
									<el-button type="text" size="small" @click="toProcess(scope.row)">查看流程</el-button>
									<el-button type="text" size="small" @click="beforeArchive(scope.row)" v-if="scope.row.contractStatus === '1'">合同归档</el-button>
									<el-button type="text" size="small" @click="beforeDownloadContract(scope.row)" v-if="scope.row.contractStatus === '2'">下载</el-button>
								</div>
							</template>
						</el-table-column>
					</el-table>
				</div>

				<div class="contract__table_pagination" ref="paginationRef">
					<div class="contract__table_pagination_info">
						共 {{ pager.totalCount }} 条记录&nbsp;&nbsp;&nbsp;第 {{ pager.pageNo }} / {{ Math.ceil(pager.totalCount / pager.pageSize) }} 页
					</div>
					<el-pagination 
						@size-change="handleSizeChange" 
						@current-change="handleCurrentChange"
						:current-page="pager.pageNo"
						:page-sizes="[10, 20, 30, 40]" 
						:page-size="pager.pageSize"
						layout="prev, pager, next, sizes, jumper" 
						:total="pager.totalCount"
						size="mini"
					/>
				</div>
			</div>

			<!-- 归档附件上传弹窗 -->
			<el-dialog
				title="合同归档"
				:visible.sync="archiveVisible"
				width="40%"
			>
				<el-upload
					class="contract__archive_upload"
					multiple
					:auto-upload="false"
					:file-list="placeFileList"
					:placeFileList="placeFileList"
					:on-change="handleFileChange"
					:on-remove="handleRemoveFile"
					drag
				>
					<span size="small" type="primary"><i class="el-icon-plus"></i>上传电子版完整合同</span>
				</el-upload>
				<span slot="footer" class="dialog-footer">
					<el-button @click="archiveVisible = false; placeFileList = [];" size="mini" :loading="archiveLoading">取 消</el-button>
					<el-button type="primary" @click="contractSupplierPlaceContract" size="mini" :loading="archiveLoading">确 定</el-button>
				</span>
			</el-dialog>

			<!-- 下载合同弹窗 -->
			<el-dialog
				title="下载合同"
				:visible.sync="downloadContractVisible"
				width="40%"
				class="contract__download"
				v-loading="downloadContractFileListLoading"
				element-loading-text="加载中..."
			>
				<div class="contract__download_list" v-if="downloadContractFileList.length">
					<div class="contract__download_item" v-for="item in downloadContractFileList" :key="item" @click="handleDownloadContract(item)">
						<div class="contract__download_item_name">
							{{item}}
						</div>
						<div class="contract__download_item_download">
							<i class="el-icon-download"></i>
						</div>
					</div>
				</div>
				<el-empty description="暂无合同文件可下载" v-else></el-empty>
			</el-dialog>
		</div>

		<script type="module">
			// let opUrl = ctx;
			// let opUrl = 'http://newdev2.ejcop.com:1081/octopus';
			import { VIEW_SCENE, SUCCESS_CODE, CONTRACT_TYPE_OPTIONS, CONTRACT_STATUS_OPTIONS } from './js/contants.js';
			import { contractSupplierListApi, contractSupplierPlaceContractApi, fileUpLoadApi, getContractFilesApi } from './js/apis.js';
			import  { debounce, handleOptionShow, downloadFileFromUrl } from './js/fn.js';

			window.contractListApp = new Vue({
				el: "#contract",
				data() {
					return {
						CONTRACT_TYPE_OPTIONS,
						CONTRACT_STATUS_OPTIONS,
						searchForm: {
							supplierName: "",
							contractStatus: "",
							businessOperator: "",
						},
						pager:{
							pageNo: 1,
							pageSize: 20,
							totalCount: 0,
							loading: false
						},
						contractList: [],
						tableHeight: '',
						archiveVisible: false,
						archiveId: null,
						archiveLoading: false,
						placeFileList: [],
						downloadContractVisible: false,
						downloadContractFileList: [],
						downloadContractFileListLoading: true,
					};
				},
				created() {
					this.getList();
				},
				mounted() {
					this.debouncedCalculateTableHeight = debounce(this.calculateTableHeight, 100);

					this.calculateTableHeight();

					window.addEventListener('resize', this.debouncedCalculateTableHeight);
				},
				beforeDestroy() {
					window.removeEventListener('resize', this.debouncedCalculateTableHeight);
				},
				methods: {
					handleOptionShow,
					calculateTableHeight() {
						const contractHeight = this.$refs.contractRef?.offsetHeight || 0;
						const searchHeight = this.$refs.searchRef?.offsetHeight || 0;
						const paginationHeight = this.$refs.paginationRef?.offsetHeight || 0;
						const tableContentHeight = this.$refs.tableContentRef?.offsetHeight || 0;
						this.tableHeight = contractHeight - searchHeight - paginationHeight - 30;
					},
					getList(isInit) {
						if(isInit){
							this.pager.pageNo = 1;
						}
						if(this.pager.loading){
							return;
						}
						this.pager.loading = true;
						$.ajax({
							url: contractSupplierListApi,
							type: "post",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify({
								pageNo: this.pager.pageNo,
								pageSize: this.pager.pageSize,
								...this.searchForm,
							}),
							success: (res) => {
								if(res.code === SUCCESS_CODE){
									let { count, list } = res.data;
									this.contractList = list || [];
									this.pager.totalCount = count;
								}
							},
							complete: () => {
								this.pager.loading = false;
							}
						});
					},
					reset() {
						this.searchForm =  {
							supplierName: "",
							contractStatus: "",
							businessOperator: "",
						}
						this.getList(true);
					},
					handleSizeChange(val) {
						this.pager.pageSize = val;
						this.getList();
					},
					handleCurrentChange(val) {
						this.pager.pageNo = val;
						this.getList();
					},
					beforeArchive(item) {
						this.archiveVisible = true;
						this.archiveId = item.id;
					},
					toAudit(item) {
						// TODO: 
						// window.location.replace(`./contractView?id=${item.id}&pageType=${VIEW_SCENE.AUDIT}`);
						window.location.replace(`./contractView.html?id=${item.id}&pageType=${VIEW_SCENE.AUDIT}`);
					},
					toDetail(item) {
						// TODO: 
						// window.location.replace(`./contractView?id=${item.id}&pageType=${VIEW_SCENE.VIEW}`);
						window.location.replace(`./contractView.html?id=${item.id}&pageType=${VIEW_SCENE.VIEW}`);
					},
					toAdd() {
						// TODO: 
						// window.location.replace(`./contractView?pageType=${VIEW_SCENE.ADD}`);
						window.location.replace(`./contractView.html?pageType=${VIEW_SCENE.ADD}`);
					},
					toProcess(item) {
						// TODO
					},
					async handleFileChange(file) {
						// 拼接 guid = 文件名 + 当前时间戳
                        const timestamp = Date.now();
                        const guid = `${timestamp}_${file.name}`;

                        // 创建 FormData 对象，按照后端需求构造字段
                        const formData = new FormData();
                        formData.append('guid', guid);
                        formData.append('_contract', file.raw);
                        formData.append('uploadFileName', '_contract');

                        $.ajax({
                            url: fileUpLoadApi,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: (res) => {
                                this.$message?.success(`文件 ${file.name} 上传成功`);
                                this.placeFileList.push({ name: res.filePath, uid: file.uid });
                            },
                            error: function (err) {
                                this.$message?.error(`文件 ${file.name} 上传失败`);
                            }
                        });
					},
                    // 文件列表移除文件时的钩子
                    handleRemoveFile(file, fileList) {
						this.placeFileList = fileList;
                    },
					beforeDownloadContract(item) {
						this.downloadContractVisible = true;
						this.downloadContractFileListLoading = true; // 开始加载

						// 调用获取文件列表的API
						// $.ajax({
						// 	url: getContractFilesApi, // 替换为实际的API接口
						// 	type: "post",
						// 	dataType: "json",
						// 	contentType: "application/json",
						// 	data: JSON.stringify({
                        //         id: item.id,
                        //     }),
						// 	success: (res) => {
						// 		if(res.code === SUCCESS_CODE){
                        //             this.downloadContractFileList = res.data || [];
						// 		} else {
						// 			this.downloadContractFileList = []; // 获取失败时清空列表
                        //             this.$message.error("获取合同文件失败");
						// 		}
						// 	},
                        //     error: () => {
                        //         this.downloadContractFileList = [];
                        //         this.$message.error("获取合同文件失败");
                        //     },
						// 	complete: () => {                                
						// 		this.downloadContractFileListLoading = false;
						// 	}
						// });
					},
					contractSupplierPlaceContract() {
						if (!this.placeFileList.length) {
							this.$message.error('请上传完整电子合同');
						}
						this.archiveLoading = true;
						$.ajax({
                            url: contractSupplierPlaceContractApi,
                            type: "post",
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify({
                                id: this.archiveId,
                                placeFileList: this.placeFileList.map(item => item.name),
                            }),
                            success: (res) => {
                                if(res.code === SUCCESS_CODE) {
                                    this.getList(true);
                                    this.$message.success("归档成功");
                                    this.archiveVisible = false;
									this.placeFileList = [];
                                }
                            },
                            complete: () => {
                                this.archiveLoading = false;
                            },
                            error: () => {
                                this.$message.error("归档失败");
                            }
                        });
					},
					handleDownloadContract(item) {
						downloadFileFromUrl(item, item);
					},
				},
			});
		</script>
	</body>
</html>
